$text-2: #666;
$text-1: #999;
.home-container {
  background: white;
  .contacts {
    border-radius: none;
    padding: 1rem;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 #e26eba, 0 6px 20px 0 #f091ce;
    transition: transform 500ms;
    cursor: pointer;
    transition: transform 500ms;
    .fa-bars {
      position: absolute;
      left: 2.25rem;
      color: $text-1;
      transition: color 200ms;
      &:hover {
        color: $text-2;
      }
    }
    .contact:last-child {
      margin: 0;
    }
    &__list {
      margin-bottom: 1rem;
      height: auto;
      display: flex;
      justify-content: start;
      align-items: baseline;
    }
    &__list-avatar {
      width: 35px;
      height: 35px;
      margin-right: 9px;
      border-radius: 50%;
      text-align: center;
      padding: 4px;
      color: #fff;
      border: none;
      background: #ff00a5 linear-gradient(45deg, #ff00a5, #f45414);
    }
    &__search {
      border: 1px solid #ff00a5 !important;
      margin-bottom: 20px;
    }
    &__header {
      text-align: center;
      color: #ff00a5;
      font-weight: 400;
      font-size: 1.6rem;
    }
  }
}
// @media screen and (max-width: 735px) {
//     .home-container{
//         &__user{
//             display:none;
//             &.mobile{
//                 display:block !important;
//             }
//         }
//         .mobile{
//             position: fixed; /* Stay in place */
//             z-index: 1; /* Sit on top */
//             left:12%;
//             top: 0;
//             max-width: 12rem; /* Full width */
//             height: 100%; /* Full height */
//             overflow: auto; /* Enable scroll if needed */
//             background: white;
//             box-shadow: none;
//             .contacts {
//                 width: 100%;
//                 margin-left:0;
//                 background: white;
//                 box-shadow: none;
//                 &__list {
//                   justify-content: start;
//                   &-name {
//                     display: block;
//                   }
//                   &-avatar{
//                     width: 1.5rem;
//                     height: 1.5rem;
//                     font-size: .75rem;
//                     margin: 0 10px;
//                     padding: 0;
//                   }
//                 }
//                 &__header {
//                   font-size: .8rem;
//                   font-weight: 500;
//                 }
//                 &__search{
//                     display:block;
//                 }
//               }
//         }
//     }
// }
