<div class="container px-4 py-5 mx-auto">
    <div class="card card-content">
        <div class="d-flex flex-lg-row flex-column-reverse">
            <div class="card card-content__first-card">
                <div class="row justify-content-center my-auto">
                    <div class="col-md-8 col-10 my-5">
                        <div class="row justify-content-center px-3 mb-3"> <img id="card-content__logo"
                                src="../../assets/images/logo.png"> </div>
                        <h3 class="mb-5 text-center card-content__heading">We are VChat</h3>
                        <h6 class="card-content__msg-info">Please login to your account</h6>
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                            <div class="form-group">
                                <label class="form-control-label text-muted">Email</label>
                                <input type="text" id="email" name="email" formControlName="email"
                                    placeholder="Enter email" class="form-control">
                                <small class="form-text text-muted"
                                    *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.required">
                                    Please enter email address.!
                                </small>
                                <small class="form-text text-muted"
                                    *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.email">
                                    Email address not well formed.!
                                </small>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label text-muted">Password</label>
                                <input type="password" id="psw" name="psw" placeholder="Password" class="form-control"
                                    formControlName="password">
                                <small class="form-text text-muted"
                                    *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required">
                                    Please enter password.!
                                </small>
                                <small class="form-text text-muted"
                                    *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.minlength">
                                    Minimum password length is 8.!
                                </small>
                            </div>
                            <div class="row justify-content-center my-3 px-3"> 
                                <button class="btn-block btn-color" [disabled]="!loginForm.valid">Login
                                    to
                                    VChat</button> </div>
                        </form>                        
                    </div>
                </div>
                <div class="bottom text-center mb-5">
                    <p href="#" class="sm-text mx-auto mb-3">Don't have an account?<button
                            class="btn-white ml-2" [routerLink]="['/signup']">Sign up</button></p>
                </div>
            </div>
            <div class="card card-content__second-card">
                <div class="my-auto mx-md-5 px-md-5 right">
                    <h3 class="text-white">We are more than just a company</h3> <small class="text-white">Lorem ipsum
                        dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat.</small>
                </div>
            </div>
        </div>
    </div>
</div>