<div class="nav-container">
    <div class="position-fixed nav-container__side-bar" id="sticky-sidebar">
        <div class="nav flex-column flex-nowrap vh-100 overflow-auto text-white">
            <a class="nav-link">
                <img class='nav-container__avatar' src='../../assets/images/avatar.jpg' />
            </a>
            <a class="nav-link" (click)="onContactsClick()">Contacts</a>
            <a class="nav-link">Profile</a>
            <a class="nav-link"  (click)="onSignout()">Sign Out</a>
        </div>
    </div>
</div>